body{
align-items: center;
overflow: hidden;
}
 

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fondoMovimiento 10s linear infinite;
    background: linear-gradient(45deg, #ff5733, #33ff57, #5733ff, #ff3357);
    background-size: 400% 400%;
}

@keyframes fondoMovimiento {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}



/* Establece el ancho, el relleno, el margen, la visualización, el borde y el color de fondo de los campos de texto y contraseña */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Establece el ancho, el relleno, el margen, la visualización, el borde y el color de fondo de los campos de texto y contraseña */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Cambia el color de fondo y el contorno de los campos de texto y contraseña cuando están enfocados */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Establece el color de fondo, el color del texto, el relleno, el margen, el borde, el cursor, el ancho y la opacidad del botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Cambia la opacidad del botón cuando se pasa el ratón por encima */
button:hover {
    opacity:1;
}

form
{
width: 80%;
display: flex;
text-align: center;
position: absolute;
left: 200px;
top:200px;
right: 200px;

}

.conteiner
{
width: 80%;
text-align: center;
}