/* Establece la alineación de los elementos, oculta el desbordamiento y establece la fuente del cuerpo */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family:Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif ;
}

/* Define la animación del fondo */
@keyframes fondoMovimiento {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Establece el fondo con una animación */
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fondoMovimiento 20s  ease infinite;
    background: linear-gradient(-45deg, #8D49A2, #9850AF,#AB5AC5,#BD61DB,#CC68EC, #D490EA, #C09BCC, #A284AC,#7D6287, #6B4A78, #633575, #792F96, #9332B9, #B14CD8);
    background-size: 600% 600%;
}

/* Establece el estilo de los campos de texto y contraseña */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px auto; /* Centra los campos */
    display: block; /* Hace que los campos sean bloques para centrarlos */
    border: none;
    background: #f1f1f1;
}

/* Establece el estilo de las etiquetas */
label{
    display: block; /* Hace que las etiquetas sean bloques para centrarlas */
    text-align: center; /* Centra el texto de las etiquetas */
}

/* Cambia el estilo de los campos de texto y contraseña cuando están enfocados */
input[type=text]:focus, input[type=password]:focus {
    background-color: #b9b9b9;
    outline: none;
}

/* Define la animación del botón */
@keyframes fondoboton {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Establece el estilo del botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px auto; /* Centra el botón */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    animation: fondoboton 20s  ease infinite;
    background: linear-gradient(90deg, #B14CD8,#9332B9,#792F96 , #633575, #6B4A78,#7D6287 , #A284AC,#C09BCC,#D490EA,#CC68EC,#BD61DB,#AB5AC5,#9850AF, #8D49A2);
    background-size: 600% 600%;
}

/* Cambia la opacidad del botón cuando se pasa el ratón por encima */
button:hover {
    opacity:3;
}

/* Establece el estilo del formulario */
form
{
    width: 80%;
    margin: auto; /* Centra el formulario */
    display: flex;
    flex-direction: column; /* Alinea los elementos del formulario verticalmente */
    align-items: center; /* Centra los elementos del formulario horizontalmente */
    border: 1px solid black;
}

/* Establece el estilo del contenedor */
.conteiner
{
    width: 80%;
    margin: auto; /* Centra el contenedor */
}

/* Establece el estilo del encabezado */
h1{
    text-align: center; /* Centra el texto del encabezado */
}
